export CERTBOT_EMAIL="email@example.com"
export DOMAIN="ray.example.com"
export DOMAIN_CDN="cdn.example.com"
export SSHPROXY="user@example.com"     # optional: for namizun
export OCSERVUSER="name"               # optional: for ocserv legacy
export SSH_MIDDLE_SERVER="user@server" # optional: for nginx stream proxy
